@import "tailwindcss";

.quintessential-regular {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}
.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}
.charm-regular {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  