---
import Image from 'astro/components/Image.astro'
import Button from '../components/Button.astro'
import Pasos from '../assets/pasos.svg'
---

<div class="w-full flex flex-col items-center ">
    <h2 class="text-2xl lg:text-6xl text-center charm-regular uppercase">Prepárate</h2>
    <Image src={Pasos} alt={'Siguiente paso'} class="w-full" />

</div>
